<div
  class="flex justify-between items-center px-3 md:px-10 border-b border-gray-400 bg-slate-50"
>
  <div class="flex items-center">
    <img
      src="https://img.freepik.com/premium-vector/shopping-logo-fashion-logo-beauty-logo-boutique-logo_603271-80.jpg?w=2000"
      alt="Logo"
      class="w-14 h-14 sm:w-20 sm:h-20 md:w-28 md:h-28 rounded-full"
    />
    <h2 class="font-extralight italic text-3xl md:text-5xl">ShopKaro</h2>
  </div>
  <div
    class="hidden small:flex items-center text-sm sm:text-lg md:text-xl medium:text-2xl italic"
  >
    <span class="mr-10"><a routerLink="/">Home</a></span>
    <span class="mr-10"><a routerLink="/products">Products</a></span>
    <span><a routerLink="/login">Login</a></span>
  </div>
  <div class="hidden medium:flex">
    <span class="mr-10">S</span>
    <span class="mr-10">S</span>
    <span>S</span>
  </div>
</div>
